# 3rdDigital AppUpdate API
APPUPDATE_BASE_URL=https://your-api-url.com
APPUPDATE_API_KEY=YOUR_API_KEY

# AWS S3 Configuration
APPUPDATE_AWS_REGION=wrapped-region-key
APPUPDATE_AWS_ACCESS_KEY_ID=wrapped-access-key-id
APPUPDATE_AWS_SECRET_ACCESS_KEY=wrapped-secret-access-key
APPUPDATE_AWS_BUCKET_NAME=your-bucket-name
